<!-- left -->
<div style="display:flex; flex-direction:column; width: 5%; height: 100%; margin-left: -3%;">
    <div class="bounding-box-movable-nwse" (mousedown)="onMove('nw')" style="width:100%; height:5%; margin-top:-3%;"></div>
    <div class="bounding-box-movable-ew" (mousedown)="onMove('w')" style="width: 100%; height: 96%;"></div>
    <div class="bounding-box-movable-nesw" (mousedown)="onMove('sw')" style="width:100%; height:5%; margin-bottom:-3%"></div>
</div>

<!-- mid -->
<div style="display:flex; flex-direction:column; width: 96%; height:106%; margin-top:-2%;">
    <!-- top -->
    <div class="bounding-box-movable-ns" (mousedown)="onMove('n')" style="height:5%;"></div>
    <!-- main -->
    <div class="bounding-box-movable" (mousedown)="onMove('center')" style="height:90%"></div>
    <!-- bottom -->
    <div class="bounding-box-movable-ns" (mousedown)="onMove('s')" style="height:5%;"></div>
</div>

<!-- right -->
<div style="display:flex; flex-direction:column; width: 5%; margin-right: -3%;">
    <div class="bounding-box-movable-nesw" (mousedown)="onMove('ne')" style="width:100%; height:5%; margin-top:-3%;"></div>
    <div class="bounding-box-movable-ew" (mousedown)="onMove('e')" style="width: 100%; height: 96%;"></div>
    <div class="bounding-box-movable-nwse" (mousedown)="onMove('se')" style="width:100%; height:5%; margin-bottom:-3%"></div>
</div>

<mat-toolbar 
    onmousedown="event.stopPropagation();" 
    onmousemove="event.stopPropagation();" 
    onmouseup="event.stopPropagation();" 
    onclick="event.stopPropagation();" 
    class="bbox-toolbar" color="primary" *ngIf="!start">
    <mat-toolbar-row>
        <mat-icon (click)="$event">clear</mat-icon>
        <mat-icon (click)="onConfirm($event)">done</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>